@page
@model IndexModel
@{
    //Response.Redirect("http://device.aromaretail.com");
    Response.Redirect("http://13.54.82.126/");
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
</div>
